{% extends "student/base.html" %}
{}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>学生选课系统</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <div class="row">
                     <div class="col-md-2"><a href="/student/add/" class="btn btn-primary">添加学生</a></div>
                    <div class="col-md-6">
                        
                         <form class="row" action="/student/search/" method="get">
                             <input type="text" class="form-control col-md-4" name="key_word" placeholder="{{ key_word }}">
                             <select name="cate" class="form-control col-md-2" >
                                 <option value="name"> 姓名</option>
                                 <option value="class"> 班级</option>
                             </select>
                             <input type="submit" value="提交" class="btn-success">
                         </form>
                    </div>
                </div>
               
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>生日</th>
                            <th>班级</th>
                            <th>选修课程</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in student_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.age }}</td>
                            <td>{{ student.get_sex_display }}</td>
                                <td>{{ student.birthday |date:'Y-m-d' }}</td>
                             <td>{{ student.clas.name }}</td>
                                <td>{% for course in student.courses.all %}
                                    <button class="btn btn-sm btn-info">{{ course.title }}</button>
                                    {% endfor %}
                                    </td>
                            <td>
                               <a href="/student/edit/{{ student.pk }}" class="btn btn-warning" >编辑</a>
                                <a href="/student/delete/{{ student.pk }}" class="btn btn-danger" >删除</a>
                            </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}